body{
	font-family: "Montserrat";
	font-size: 19px;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1464983308776-3c7215084895?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ad7d9df13cae0910ba69fc04aa054134);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width:1140px;
}

.winner{color:#1abc9c;}

header{height:100vh;}

section{
	height: 100vh;
	width:100%;
	position: absolute;
}

/*==================
JUMBOTRON
==================*/
.jumbotron{
	width:70%;
	margin:0 auto;
	border-radius: 4%;
	position: absolute;
	top:10%;
	left:15%;
	text-align: center;
}

.jumbotron h1{
	padding:0 0.5em;
	letter-spacing: 1px;
	word-spacing: 3px;
}

.jumbotron p{

	letter-spacing: 0.6px;
	word-spacing: 2px;
	padding: 0 25px;
}

/*======================================================*/

.but:link,
.but:visited{
	background-color: #1abc9c;
	border:1px solid #1abc9c;
	color:white;
	transition: background-color 0.5s, border 0.5s;
}

.but:active,
.but:hover{
	background-color: #16a085;
	border:1px solid #16a085;
	color:white;
}

.input-group{
	width:80%;
	margin-left: 10%;
}

.buttons a{
	margin:10px 20px;
}
/*=================================*/
footer{
	position: absolute;
	top:200vh;
	left:0;
	width:100%;
	height:40vh;
	background-color:#333; 
	padding:2%;
	font-size: 70%;
}

.footer-nav{
	list-style: none;
	padding-left: 0;
	margin-bottom: 40px;
}

.footer-nav li{
	display:inline-block;
	margin:1%;
	height: 20px;
}

.footer-nav a:link,
.footer-nav a:visited{
	text-decoration: none;
	color:#888;
	border:0;
	margin:0 5px;
	border-bottom:1px solid transparent;
	transition: border 0.3s;
	padding-bottom: 5px;
}

.footer-nav a:active,
.footer-nav a:hover{
	border-bottom:1px solid #1abc9c;
}

.extra{
	width:20%;
	margin-right: 0;
}

img{
	width:80px;
	float: left;
	height: auto;
	border-radius: 30%;
	padding-bottom: 10px;
}

.me{
	width:50%;
	color:#888;
	float:left;
	margin-left: 15%;
	margin-bottom: 3%;
	word-spacing: 5px;
}

i{margin-right:5px;}